{% extends 'catalog/base.html' %}
{% block content %}


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Добавьте новую запись</h1>
</div>

<div class="container">
    <div class="row text-start">
        <div class=" col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Новая запись</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" action="" class="form-floating">
                        {% csrf_token %}
                        <p>Заголовок: {{form.title}}</p>
                        <p>Содержимое: {{form.description}}</p>
                        <p>Превью: {{form.image}}</p>
                        <p>Опубликовано: {{form.is_published}}</p>

                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                            {% if object %}
                                Сохранить
                            {% else %}
                                Создать
                            {% endif %}
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}